.contain-navbar{
    
    height: 10vh;
    position: absolute;
    top: 182px;
    left: 28px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    font-weight: 600;
    font-size: 21px;
}

.menu-button{
    color:white;
    display:inline-block;
    padding:10px;
    margin:4px;
    animation: shadow 1s infinite;
}
/*styling for project and about me modal */
.contain-navbar-modal{
    
    height: 10vh;
    position: absolute;
    top: 182px;
    left: 28px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    font-weight: 600;
    font-size: 21px;
}



.menu-button-modal{
    color:black;
    display:inline-block;
    padding:10px;
    margin:4px;
    animation: shadow 1s infinite;
}


.projects{
    animation-delay:0.33s;
}
.about-me{
    animation-delay:0.66s;
}



@keyframes shadow{
    50%{box-shadow:5px 10px black}
    100%{box-shadow:0px 0px black}
}

@keyframes transition{
    50%{
        transform:rotate(-180deg);
    }
}